.option {

	&:hover,
	&:focus {
		outline: none;
	}

	&::after {
		content: '';
		transition: $duration ease all;
		@extend %line;
		margin: 0 auto;

		@media (min-width: $screen-xs) {
			margin: 0;
		}
	}

	&__img-wrap {
		height: 35px;
		display: flex;
		align-items: flex-end;
	}

	&__img {
		position: relative;
		margin: 0 auto 7px;
		transition: $duration ease;

		@media (min-width: $screen-xs) {
			margin: 0 0 7px;
		}

		&::before,
		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			transition: $duration ease-out;
			opacity: 1;
			transform: scale(1);
			@include bgi-retina('../img/option', 'png', 150px, 142px);
		}

		&::before {
			opacity: 0;
		}

		&::after {
			opacity: 1;
		}

		&_1 {
			width: 18px;
			height: 27px;

			&::before {
				background-position: -132px 0;

				@include retina() {
					background-position: -132px -27px;
				}
			}

			&::after {
				background-position: -132px -27px;

				@include retina() {
					background-position: -132px 0;
				}
			}
		}

		&_2 {
			width: 28px;
			height: 29px;

			@include retina() {
				width: 27px;
				height: 29px;
			}

			&::before {
				background-position: 0 -29px;

				@include retina() {
					background-position: -28px -29px;
				}
			}

			&::after {
				background-position: -56px 0;

				@include retina() {
					background-position: 0 -29px;
				}
			}
		}

		&_3 {
			width: 28px;
			height: 29px;

			@include retina() {
				width: 29px;
			}

			&::before {
				background-position: -28px 0;

				@include retina() {
					background-position: 0 0;
				}
			}

			&::after {
				background-position: 0 0;

				@include retina() {
					background-position: -29px 0;
				}
			}
		}

		&_4 {
			width: 16px;
			height: 21px;

			&::before {
				background-position: -132px -54px;
			}

			&::after {
				background-position: -132px -75px;
			}
		}

		&_5 {
			width: 22px;
			height: 19px;

			@include retina() {
				width: 24px;
			}

			&::before {
				background-position: -84px -58px;

				@include retina() {
					background-position: -84px -59px;
				}
			}

			&::after {
				background-position: -58px -58px;
			}
		}

		&_6 {
			width: 25px;
			height: 27px;

			@include retina() {
				width: 23px;
			}

			&::before {
				background-position: -28px -29px;

				@include retina() {
					background-position: -108px -27px;
				}
			}

			&::after {
				background-position: -53px -29px;

				@include retina() {
					background-position: -108px 0;
				}
			}
		}

		&_7 {
			width: 26px;
			height: 25px;

			&::before {
				background-position: -26px -81px;

				@include retina() {
					background-position: -26px -82px;
				}
			}

			&::after {
				background-position: 0 -81px;

				@include retina() {
					background-position: 0 -82px;
				}
			}
		}

		&_8 {
			width: 25px;
			height: 26px;

			@include retina() {
				width: 26px;
			}

			&::before {
				background-position: -107px -26px;

				@include retina() {
					background-position: -58px 0;
				}
			}

			&::after {
				background-position: -107px 0;

				@include retina() {
					background-position: -58px -27px;
				}
			}
		}

		&_9 {
			width: 13px;
			height: 10px;

			&::before {
				background-position: -132px -114px;
			}

			&::after {
				background-position: -119px -106px;

				@include retina() {
					background-position: -86px -107px;
				}
			}
		}

		&_10 {
			width: 23px;
			height: 29px;

			&::before {
				background-position: -84px -29px;

				@include retina() {
					background-position: -84px -30px;
				}
			}

			&::after {
				background-position: -84px 0;
			}
		}

		&_11 {
			width: 29px;
			height: 18px;

			@include retina() {
				height: 18px;
			}

			&::before {
				background-position: 0 -106px;

				@include retina() {
					background-position: 0 -107px;
				}
			}

			&::after {
				background-position: -52px -81px;

				@include retina() {
					background-position: -53px -82px;
				}
			}
		}

		&_12 {
			width: 29px;
			height: 23px;

			&::before {
				background-position: 0 -58px;

				@include retina() {
					background-position: -29px -58px;
				}
			}

			&::after {
				background-position: -29px -58px;

				@include retina() {
					background-position: 0 -58px;
				}
			}
		}

		&_13 {
			width: 23px;
			height: 24px;

			@include retina() {
				width: 24px;
				height: 25px;
			}

			&::before {
				background-position: -107px -76px;

				@include retina() {
					background-position: -107px -79px;
				}
			}

			&::after {
				background-position: -107px -52px;

				@include retina() {
					background-position: -107px -54px;
				}
			}
		}

		&_14 {
			width: 19px;
			height: 17px;

			&::before {
				background-position: -48px -106px;

				@include retina() {
					background-position: -83px -82px;
				}

			}

			&::after {
				background-position: -29px -106px;

				@include retina() {
					background-position: -30px -107px;
				}
			}
		}

		&_15 {
			width: 17px;
			height: 17px;

			&::before {
				background-position: -84px -106px;

				@include retina() {
					background-position: -18px -125px;
				}
			}

			&::after {
				background-position: -67px -106px;

				@include retina() {
					background-position: -35px -125px;
				}
			}
		}

		&_16 {
			width: 18px;
			height: 16px;

			&::before {
				background-position: 0 -124px;

				@include retina() {
					background-position: -68px -107px;
				}
			}

			&::after {
				background-position: -101px -106px;

				@include retina() {
					background-position: -49px -107px;
				}
			}
		}

		&_17 {
			width: 18px;
			height: 18px;

			@include retina() {
				height: 17px;
			}

			&::before {
				background-position: -132px -96px;

				@include retina() {
					background-position: 0 -125px;
				}
			}

			&::after {
				background-position: -81px -81px;

				@include retina() {
					background-position: -132px -96px;
				}
			}
		}

		&_18 {
			width: 20px;
			height: 14px;

			@include retina() {
				width: 21px;
			}

			&::before,
			&::after {
				@include bgi-retina('../img/option-2', 'png', 57px, 47px);
			}

			&::before {
				background-position: 0 0;
			}

			&::after {
				background-position: -20px 0;
			}
		}

		&_19 {
			width: 16px;
			height: 17px;

			&::before,
			&::after {
				@include bgi-retina('../img/option-2', 'png', 57px, 47px);
			}

			&::before {
				background-position: 0 -14px;
			}

			&::after {
				background-position: -16px -14px;
			}
		}

		&_20 {
			width: 17px;
			height: 16px;

			@include retina() {
				width: 16px;
			}

			&::before,
			&::after {
				@include bgi-retina('../img/option-2', 'png', 57px, 47px);
			}

			&::before {
				background-position: -40px 0;

				@include retina() {
					background-position: -41px 0;
				}
			}

			&::after {
				background-position: 0 -31px;
			}
		}

		&_21 {
			width: 14px;
			height: 14px;

			&::before,
			&::after {
				@include bgi-retina('../img/option-2', 'png', 57px, 47px);
			}

			&::before {
				background-position: -40px -16px;

				@include retina() {
					background-position: -41px -16px;
				}
			}

			&::after {
				background-position: -17px -31px;

				@include retina() {
					background-position: -16px -31px;
				}
			}
		}

		&_22 {
			width: 23px;
			height: 20px;

			&::before,
			&::after {
				@include bgi-retina('../img/option-3', 'png', 62px, 44px);
			}

			&::before {
				background-position: 0 -24px;
			}

			&::after {
				background-position: -23px -24px;
			}
		}

		&_23 {
			width: 32px;
			height: 24px;

			&::before,
			&::after {
				@include bgi-retina('../img/option-3', 'png', 64px, 44px);
			}

			&::after {
				background-position: -32px 0px;
			}
		}
	}

	&__desc {
		font-size: 1.2rem;
		color: $color-gray;
		text-transform: uppercase;
		margin-bottom: 4px;
		transition: $duration ease;

		&_dark {
			color: $color-darkgray;
			font-size: 1.3rem;
		}
	}

	&__title {
		font-family: $font-second;
		color: $color-darkgray;
		font-size: 1.3rem;
		margin-bottom: 4px;
		line-height: 1.2;
		transition: $duration ease;
		word-break: break-word;
	}
}

a.option {

	&:hover,
	&_share-active {

		&::after {
			width: 100%;
		}

		.option {
			//=====

			&__img {

				&::before {
					opacity: 1;
				}

				&::after {
					opacity: 0;
				}
			}

			&__desc,
			&__title {
				color: $color-red;
			}
		}
	}

	&_like-active {
		cursor: default;

		&::after {
			width: 100%;
			background-color: $color-lightergray;
		}

		&:hover {

			.option {
				// =====

				&__img {

					&::before {
						opacity: 0;
						transform: scale(2);
					}

					&::after {
						opacity: .2;
					}
				}

				&__desc,
				&__title {
					color: $color-lightergray;
				}
			}
		}

		.option {
			// =====

			&__img {

				&::before {
					opacity: 0;
					transform: scale(2);
				}

				&::after {
					opacity: .2;
				}
			}

			&__desc,
			&__title {
				color: $color-lightergray;
			}
		}
	}
}