.about {

	&__title {
		color: $color-black;
		font-family: $font-second;
		font-size: 2rem;
		line-height: 1.2em;
		font-weight: 100;
		text-transform: none;
		position: relative;

		@media (min-width: $screen-sm) {
			font-size: 2.8rem;
			width: 90%;
		}

		&::before {
			@extend %line-left_red;

			@media (min-width: $screen-sm) {
				top: -10px;
			}

			@media (min-width: $screen-lg) {
				top: -10px;
			}
		}

		&::after {

			@media (min-width: $screen-sm) {
				content: '';
				position: absolute;
				background-image: url('../img/line-slide-about.png');
				width: 74px;
				height: 219px;
				top: -10px;
				right: -74px;
			}

			@media (min-width: $screen-lg) {
				background-image: url('../img/line-slide-about-lg.png');
				width: 117px;
				height: 350px;
				right: -117px;
			}
		}

		&_line_large {

			&::after {

				@media (min-width: $screen-sm) {
					background-image: url('../img/line-slide-about-large.png');
					width: 161px;
					height: 485px;
				}

				@media (min-width: $screen-lg) {
					background-image: url('../img/line-slide-about-large.png');
					width: 161px;
					height: 485px;
				}
			}
		}
	}

	&__line {
		@extend %line;
		margin-bottom: 10px;

		@media (min-width: $screen-sm) {
			margin-bottom: 40px;
		}
	}

	&__name {
		font-size: 2rem;
		color: $color-red;
		margin-bottom: 5px;
	}

	&__descr {
		color: $color-gray;
		font-size: 1.4rem;

		@media (min-width: $screen-sm) {
			width: 90%;
		}

		&::after {
			@extend %line;
			content: '';
			background-color: $color-gray;
			margin: 10px 0;

			@media (min-width: $screen-sm) {
				margin: 10px 0 20px;
			}
		}

		&_dark {
			color: $color-darkgray;

			&::after {
				background-color: $color-darkgray;
			}
		}
	}

	&__link {

		@media (min-width: $screen-sm) {
			text-align: right;
		}
	}
}