.arrow-link {
	display: inline-block;
	font-size: 1.4rem;
	text-align: left;

	&__i {
		display: flex;
		align-items: center;
		color: $color-red;
		text-transform: uppercase;
		text-decoration: none;
	}

	&__text {
		line-height: 1.1em;
	}

	&__arrow {
		display: inline-block;
		width: 9px;
		height: 31px;
		background: url('/img/arrows.png') 9px 0;
		margin-left: 10px;

		@media (min-width: $screen-lg) {
			width: 13px;
			height: 48px;
			background-position: -13px 0;
		}
	}

	&_gray {

		.arrow-link {

			&__i {
				color: $color-gray;
			}

			&__arrow {

				background: url('/img/arrow-gray.png');

				@media (min-width: $screen-lg) {
					background: url('/img/arrow-gray-lg.png');
				}
			}
		}
	}
}