.arrow-link {
	display: inline-block;
	font-size: 1.4rem;

	&__i {
		display: flex;
		align-items: center;
		color: $color-red;
		text-transform: uppercase;
		text-decoration: none;
	}

	&__text {
		line-height: 16px;
	}

	&__arrow {
		display: inline-block;
		width: 9px;
		height: 31px;
		background: url('../img/arrow.png') -9px 0px;
		margin-left: 10px;
	}
}