.bot-panel {
	padding-bottom: 70px;

	@media (min-width: $screen-lg) {
		padding-bottom: 100px;
	}


	&__wrap {
		padding-top: 15px;
		position: relative;

		&::before {
			@extend %line;
			content: '';
			position: absolute;
			top: 0;
		}
	}

	&__type {
		font-family: $font-second;
		color: $color-gray;
		font-weight: 300;
		font-size: 1.6rem;
		margin: 0;
	}

	&__title {
		font-family: $font-second;
		color: $color-white;
		font-weight: 700;
		font-size: 2.5rem;
		text-transform: uppercase;
		margin: 0 0 15px;
		position: relative;
		vertical-align: middle;

		@media (min-width: $screen-xs) {
			font-size: 4.1rem;
		}

		@media (min-width: $screen-sm) {
			display: inline-block;
			max-width: 75%;
			margin-right: 50px;
		}

		&::after {
			@extend %line-right-gray;
		}

		&_red {

			&::after {
				@extend %line-right-red;
			}
		}

		&_sm {

			@media (min-width: $screen-xs) {
				font-size: 2.4rem;
			}
		}
	}

	&__address {
		display: inline-block;
		color: $color-gray;
		margin: 10px 10px 0 0;
		text-transform: uppercase;
		font-size: 1.4rem;
		line-height: 1.1em;
		vertical-align: middle;
		position: relative;
		top: -2px;

		@media (min-width: $screen-xs) {
			margin: 10px 50px 0 0;
		}

		@media (min-width: $screen-sm) {
			margin-top: 0;
		}

		&::after {
			@extend %line-right-red;
		}
	}

	&__arrow {
		vertical-align: middle;
		position: relative;
		top: -3px;
		margin-bottom: 15px;
	}

	&__date {
		position: relative;
		vertical-align: middle;
		font-size: 1.4rem;
		margin: 0 0 15px;
		display: inline-block;

		@media (min-width: $screen-sm) {
		}

		&::after {
			@extend %line-right-gray;
		}

		&_red {
			color: $color-red;

			&::after {
				@extend %line-right-red;
			}
		}
	}

	&_dark {
		background-color: $color-black;
	}
}