.button {
	color: $color-white;
	text-transform: uppercase;
	width: 266px;
	height: 45px;
	border: 0;
	outline: 0;
	padding: 0;
	background-color: transparent;
	background-image: url('../img/btn-bright.png');
	font-size: 1.3rem;
	transition: color $duration / 2;
	position: relative;
	display: inline-block;
	line-height: 3.4;
	text-align: center;

	@media (min-width: $screen-lg) {
		width: 426px;
		height: 71px;
		background-image: url('../img/btn-bright-lg.png');
	}

	&:hover,
	&:focus {
		color: $color-red;
	}

	&__num {
		position: absolute;
		left: 100%;
		top: 50%;
		transform: translateX(-25px) translateY(-50%);
		font-size: 3rem;
		color: $color-red;

		@media (min-width: $screen-lg) {
			transform: translateX(-40px) translateY(-50%);
		}
	}

	&_dark {
		color: $color-darkgray;
		background-image: url('../img/btn-dark.png');

		@media (min-width: $screen-lg) {
			background-image: url('../img/btn-dark-lg.png');
		}
	}

	&_half_dark {
		color: $color-darkgray;
		background-image: url('../img/btn-half-dark.png');

		@media (min-width: $screen-lg) {
			background-image: url('../img/btn-half-dark-lg.png');
		}
	}
}