.button {
	color: $color-white;
	text-transform: uppercase;
	width: 266px;
	height: 45px;
	border: 0;
	padding: 0;
	background-color: transparent;
	background-image: url('../img/btn-bright.png');
	font-size: 1.3rem;
	transition: color $duration / 2;
	position: relative;
	display: inline-block;
	line-height: 3.4;
	text-align: center;

	@media (min-width: $screen-lg) {
		width: 426px;
		height: 71px;
		background-image: url('../img/btn-bright-lg.png');
	}

	&:hover,
	&:focus {
		color: $color-red;
		outline: none;
	}

	&__num {
		position: absolute;
		left: 100%;
		top: 50%;
		transform: translateX(-25px) translateY(-50%);
		font-size: 3rem;
		color: $color-red;
		line-height: 1;

		@media (min-width: $screen-lg) {
			transform: translateX(-40px) translateY(-50%);
		}
	}

	&_dark {
		color: $color-darkgray;
		background-image: url('../img/btn-dark.png');

		@media (min-width: $screen-lg) {
			background-image: url('../img/btn-dark-lg.png');
		}
	}

	&_half_dark {
		color: $color-white;
		background-image: none;

		@media (min-width: $screen-lg) {
			background-image: none;
		}

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			transition: $duration / 2 ease;
			background-image: url('../img/btn-half-red.png');
			z-index: -1;

			@media (min-width: $screen-lg) {
				background-image: url('../img/btn-half-red-lg.png');
			}
		}

		&:hover {
			color: $color-white;

			+ .section__arrow {
				top: 5px;
			}
		}
	}

	&_sm_dark {
		color: $color-darkgray;
		background-image: url('../img/btn-sm-dark.png');
		width: 133px;
		height: 46px;

		@media (min-width: $screen-lg) {
			background-image: url('../img/btn-sm-dark-lg.png');
			width: 214px;
			height: 72px;
		}
	}
}