.card {
	text-decoration: none;
	display: block;

	&__img-wrap {
		background-color: $color-white;
		padding: 7% 14%;
	}

	&__img {
		background: no-repeat 50% 50%;
		background-size: cover;
		padding-bottom: 70%;
		margin: 0 -15px;
		transition: $duration ease;
		position: relative;

		@media (min-width: $screen-xs) {
			margin: 0;
		}

		@media (min-width: $screen-lg) {
			padding-bottom: 70%;
		}

		&_fog {

			&::before {
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				transition: all $duration / 2;
				background-color: $color-light-fog;
			}
		}

		&_1 {
			background-image: url('../img/card-1.jpg');
		}

		&_2 {
			background-image: url('../img/card-2.jpg');
		}

		&_3 {
			background-image: url('../img/card-3.jpg');
		}

		&_4 {
			background-image: url('../img/card-4.jpg');
		}

		&_5 {
			background-image: url('../img/card-10.jpg');
		}

		&_6 {
			background-image: url('../img/card-11.jpg');
		}

		&_7 {
			background-image: url('../img/card-12.jpg');
		}

		&_8 {
			background-image: url('../img/card-13.jpg');
		}

		&_9 {
			background-image: url('../img/partner-1.png');
			background-size: contain;
		}

		&_10 {
			background-image: url('../img/partner-2.png');
			background-size: contain;
		}

		&_11 {
			background-image: url('../img/partner-3.png');
			background-size: contain;
		}

		&_12 {
			background-image: url('../img/partner-4.png');
			background-size: contain;
		}

		&_13 {
			background-image: url('../img/card-9.jpg');
		}
	}

	&__i {
		padding: 15px 0;

		@media (min-width: $screen-xs) {
			padding: 15px;
		}
	}

	&__type {
		font-family: $font-second;
		font-size: 1.2rem;
		font-weight: 300;
		color: $color-lightgray;
		margin: 0 0 3px;
	}

	&__title {
		font-family: $font-second;
		font-size: 1.7rem;
		font-weight: 700;
		color: $color-white;
		text-transform: uppercase;
		margin: 0;
		position: relative;
		line-height: 1.1em;
		display: inline-block;
		transition: all $duration / 2;
		word-wrap: break-word;

		@media (min-width: $screen-xs) {
			max-width: 80%;
			min-height: 2.5em;
		}

		&::before {
			@extend %line-right-gray;
		}

		&::after {
			@extend %line;
			content: '';
			margin: 5px 0 0;
		}

		&_sm {
			font-size: 1.8rem;

			@media (min-width: $screen-xs) {
				min-height: 2.2em;
			}
		}
	}

	&__address {
		font-size: 1.2rem;
		margin: 15px 0 0;
		display: block;
	}

	&__sale {
		font-size: 1.4rem;
		color: $color-red;
		text-transform: uppercase;
		margin: 0;
	}
}

a.card {
	transition: none;

	&:hover,
	&:focus {

		.card {
			//=====

			&__img {

				&_fog {

					&::before {
						background-color: transparent;
					}
				}

				&_scale {
					transform: scale(1.1);
				}
			}

			&__title {
				color: $color-red;

				&::after {
					width: 100%;
				}
			}
		}

		.arrow-link__arrow {
			left: 5px;
		}
	}
}