.card-h {
	display: flex;
	flex-wrap: wrap;
	background-color: $color-black;
	text-decoration: none;

	&:hover,
	&:focus {

		.card-h {

			&__img {

				&_fog {

					&::before {
						background-color: transparent;
					}
				}
			}

			&__title {
				color: $color-red;

				&::after {
					width: 100%;
				}
			}
		}
	}

	&__img {
		background: no-repeat 50% 50%;
		background-size: cover;
		position: relative;
		width: 100%;
		padding-bottom: 100%;

		@media (min-width: $screen-xs) {
			padding-bottom: 50%;
		}

		@media (min-width: $screen-custom-sm) {
			width: 33.333%;
			padding-bottom: 0;
		}

		&_fog {

			&::before {
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				transition: all $duration / 2;
				background-color: $color-light-fog;
			}
		}

		&_1 {
			background-image: url('../img/card-5.jpg');
		}

		&_2 {
			background-image: url('../img/card-6.jpg');
		}

		&_3 {
			background-image: url('../img/card-7.jpg');
		}

		&_4 {
			background-image: url('../img/card-8.jpg');
		}

		&_5 {
			background-image: url('../img/card-9.jpg');
		}
	}

	&__wrap {
		padding: 15px;
		width: 100%;

		@media (min-width: $screen-custom-sm) {
			width: 66.666%;
		}
	}

	&__type {
		font-family: $font-second;
		font-size: 1.2rem;
		font-weight: 300;
		color: $color-lightgray;
		margin: 0 0 3px;
		text-transform: none;
	}

	&__inner {
		position: relative;
	}

	&__title {
		font-family: $font-second;
		font-size: 2.2rem;
		font-weight: 700;
		color: $color-white;
		position: relative;
		line-height: 1.1em;
		vertical-align: top;
		transition: all $duration / 2;
		margin: 0 0 15px 0;

		@media (min-width: $screen-xs) {
			display: inline-block;
			margin: 0 30px 15px 0;
		}

		@media (min-width: $screen-custom-sm) {
			max-width: 160px;
			margin: 0 30px 0 0;
		}

		@media (min-width: $screen-md) {
			max-width: 300px;
		}

		@media (min-width: $screen-lg) {
			margin: 0 40px 0 0;
			max-width: 285px;
		}

		&::before {
			@extend %line-right-gray;

			@media (min-width: $screen-sm) {
				right: -25px;
				top: 20px;
			}

			@media (min-width: $screen-lg) {
				right: -35px;
				top: 35px;
			}
		}

		&::after {
			@extend %line;
			content: '';
			margin: 5px 0 0;
		}
	}

	&__descr {
		display: inline-block;
		line-height: 1.1em;
		font-size: 1.4rem;
		vertical-align: top;
		margin: 0 30px 15px 0;

		@media (min-width: $screen-custom-sm) {
			margin: 0;
		}
	}

	&__descr-prim {
		color: $color-white;
		margin: 0;
	}

	&__descr-second {
		color: $color-gray;
		margin: 0;
	}

	&__cost {
		display: inline-block;

		@media (min-width: $screen-custom-sm) {
			position: absolute;
			right: 0;
			top: 0;
			margin-right: 20px;
		}

		@media (min-width: $screen-lg) {
			margin-right: 30px;
		}

		&::before {
			@extend %line-right-red;

			@media (min-width: $screen-sm) {
				right: initial;
				left: -22px;
				top: 20px;
			}

			@media (min-width: $screen-lg) {
				left: -30px;
				top: 35px;
			}
		}

		&::after {
			@extend %line-right-gray;

			@media (min-width: $screen-sm) {
				top: initial;
				right: -20px;
				bottom: -25px;
			}

			@media (min-width: $screen-lg) {
				right: -30px;
				bottom: -40px;
			}
		}
	}

	&__cost-type {
		color: $color-red;
		margin: 0;
		font-size: 1.4rem;
		line-height: 1.2em;
	}

	&__cost-value {
		color: $color-white;
		margin: 0 0 4px;
		font-size: 2.2rem;
		line-height: 1.2em;
		border-bottom: 1px solid $color-gray;
	}

	&__cost-value-meter {
		text-transform: none;
		color: $color-gray;
		margin: 0;
		font-size: 1.6rem;
		line-height: 1.2em;
	}

	&__address {
		font-size: 1.2rem;
		margin-top: 15px;

		@media (min-width: $screen-custom-sm) {
			margin-top: 2em;
		}
	}

	&__bottom {
		position: relative;
		padding-bottom: 3em;
		margin-top: 15px;

		@media (min-width: $screen-custom-sm) {
			margin-top: 2em;
		}

		@media (min-width: $screen-md) {
			padding-bottom: 0;
		}
	}

	&__count {
		display: inline-block;
		position: relative;
		margin: 0 3em 1em 0;

		@media (min-width: $screen-sm) {
			margin-bottom: 0;
		}

		&::after {
			@extend %line-right-gray;
		}
	}

	&__count-val {
		font-size: 3rem;
		font-weight: 300;
		font-family: $font-second;
		color: $color-lightgray;
		margin: 0;
		line-height: 1;
	}

	&__count-desc {
		color: $color-gray;
		font-size: 1.2rem;
		margin: 0;
		line-height: 1;
	}

	&__more {
		position: absolute;
		right: 0;
		bottom: 0;
	}
}