.copyright {
	font-size: 1rem;
	text-transform: uppercase;
	color: $color-gray;
	margin: 9px 0 8px;

	@media (min-width: $screen-sm) {
		text-align: right;
	}

	&__link {
		color: $color-red;
		text-decoration: none;

		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}
}