.count {
	display: inline-block;
	position: relative;
	padding-bottom: 10px;

	&::after {
		@extend %line;
		content: '';
		transition: $duration ease;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);

		@media (min-width: $screen-sm) {
			left: 0;
			transform: none;
		}
	}

	&__num {
		font-family: $font-third;
		color: $color-red;
		font-size: 8.9rem;
		line-height: 1em;
		margin: 0;
	}

	&__title {
		font-family: $font-second;
		color: $color-white;
		font-size: 2.2rem;
		line-height: 1em;
		font-weight: 100;
		margin: 0;
		transition: $duration ease;
	}

	&__desc {
		color: $color-gray;
		font-family: $font-second;
		font-weight: 300;
		margin-top: 5px;
		display: block;
		font-size: 18px;

		@media (min-width: $screen-xs) {
			padding-right: 30px;
		}
	}
}

a.count {
	transition: none;

	&:hover,
	&:focus {

		.count {
			// =====

			&__title {
				color: $color-red;
			}
		}

		&::after {
			width: 100%;
		}
	}
}