.count {
	display: inline-block;
	position: relative;

	&__num {
		font-family: $font-third;
		color: $color-red;
		font-size: 8.9rem;
		line-height: 1em;
		margin: 0;
	}

	&__title {
		font-family: $font-second;
		color: $color-white;
		font-size: 2.2rem;
		line-height: 1em;
		font-weight: 100;
		margin: 0;

		&::after {
			@extend %line;
			content: '';
			margin: 10px auto 0;

			@media (min-width: $screen-xs) {
				margin: 10px 0 0 0;
			}
		}

		&_line_none {

			&::after {
				display: none;
				margin: 0;
			}
		}
	}

	&__desc {
		color: $color-gray;
		font-family: $font-second;
		font-weight: 300;
		margin-top: 5px;
		display: block;
		font-size: 18px;

		@media (min-width: $screen-xs) {
			padding-right: 30px;
		}

		&::after {
			@extend %line;
			content: '';
			margin: 10px auto 0;

			@media (min-width: $screen-xs) {
				margin: 10px 0 0 0;
			}
		}
	}

	&_line-right {

		@media (min-width: $screen-sm) {
			padding-right: 32px;
		}

		@media (min-width: $screen-lg) {
			padding-right: 51px;
		}

		&::before {

			@media (min-width: $screen-sm) {
				content: '';
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				background-size: cover;
				left: -62px;
				width: 32px;
				height: 93px;
				background-image: url('../img/line-slide-title-left.png');
			}

			@media (min-width: $screen-lg) {
				left: -81px;
				width: 51px;
				height: 148px;
				background-image: url('../img/line-slide-title-left-lg.png');
			}
		}
	}
}