.footer {
	background-color: $color-darkestgray;
	padding: 40px 0;
	text-transform: uppercase;

	&__cont {
		padding: 0;
	}

	&__row {
		margin-bottom: 40px;
	}

	&__logo {

		@media (min-width: $screen-xs) {
			float: left;
			margin-right: 30px;
		}

		@media (min-width: $screen-lg) {
			margin-right: 50px;
		}
	}

	&__logo-item {
		color: $color-gray;
		font-size: 1.3rem;
		line-height: 1.7rem;
		position: relative;
		margin-top: 20px;

		@media (min-width: $screen-xs) {
			display: inline-block;
			float: left;
			margin-top: 0;
		}

		&::before {
			content: '';
			display: none;
			background-image: url('../img/line-footer-dark.png');
			width: 17px;
			height: 48px;
			position: absolute;
			left: -25px;
			top: -7px;

			@media (min-width: $screen-xs) {
				display: inline-block;
			}

			@media (min-width: $screen-lg) {
				background-image: url('../img/line-footer-dark-lg.png');
				width: 26px;
				height: 76px;
				left: -40px;
			}
		}
	}

	&__main-item {
		display: block;
		text-decoration: none;
		font-size: 1.4rem;
		line-height: 1.2em;
		color: $color-lightgray;
		letter-spacing: 1.4px;
		width: 210px;
		position: relative;
		margin: 0 auto;
		padding: 10px 0;

		@media (min-width: $screen-sm) {
			display: inline-block;
			padding-right: 30px;
			width: 140px;
		}

		@media (min-width: $screen-lg) {
			width: 200px;
		}

		&::before {
			content: '';
			display: none;
			position: absolute;
			background-image: url('../img/line-footer-bright.png');
			width: 17px;
			height: 47px;
			right: 0;

			@media (min-width: $screen-sm) {
				display: inline-block;
			}

			@media (min-width: $screen-lg) {
				background-image: url('../img/line-footer-bright-lg.png');
				width: 26px;
				height: 76px;
				right: -15px;
				top: 3px;
			}
		}

		&::after {
			@extend %line;
			content: '';
			margin-top: 12px;
		}

		&:hover {

			&::after {
				width: 100%;
			}
		}
	}

	&__input {
		height: 85px;
		background-color: $color-darkergray;

		@media (min-width: $screen-lg) {
			height: 140px;
		}
	}

	&__arrow {
		font-size: 1rem;
	}
}