.form {

	&__title {
		margin: 0 0 5px;
		text-transform: uppercase;
		color: $color-gray;
		font-size: 1.2rem;
	}

	&__wrap {
		position: relative;
		margin: 0 0 2em 0;

		@media (min-width: $screen-xs) {
			margin: 0 60px 4em 0;
			float: left;
			display: inline-block;

		}

		&::before {

			@media (min-width: $screen-xs) {
				content: '';
				position: absolute;
				display: inline-block;
				right: -42px;
				top: 50%;
				transform: translateY(-50%);
				background-image: url('../img/line-form.png');
				width: 27px;
				height: 75px;
			}

			@media (min-width: $screen-lg) {
				right: -50px;
				background-image: url('../img/line-form-lg.png');
				width: 35px;
				height: 99px;
			}
		}
	}

	&__check {
		height: 60px;
		display: inline-block;

		@media (min-width: $screen-lg) {
			height: 92px;
		}

		&::before {
			top: 10%;

			@media (min-width: $screen-lg) {
				top: 45%;
			}
		}
	}

	&__toggle {
		margin-bottom: 30px;

		@media (min-width: $screen-custom-sm) {
			position: absolute;
			right: 15px;
			top: 0;
		}

		@media (min-width: $screen-sm) {
			right: 0;
		}
	}

	&__search {
		padding: 11px 0;
		margin: 0 auto 30px;

		@media (min-width: $screen-custom-sm) {
			position: absolute;
			left: 44px;
			top: 0;
		}

		@media (min-width: $screen-lg) {
			left: 70px;
			padding: 18px 0;
		}
	}
}