.h3 {
	font-family: $font-third;
	font-size: 3rem;
	font-weight: normal;
	text-transform: uppercase;
	margin: 0;
	color: $color-red;

	&_gray {
		color: $color-gray;
	}

	&_center {
		text-align: center;
	}

	&_space {
		margin: 1em 0 1.5em;
	}
}