.h4 {
	font-family: $font-second;
	text-transform: uppercase;
	font-weight: normal;
	color: $color-gray;
	line-height: 1.3;
	font-size: 2rem;

	@media (min-width: $screen-xs) {
		font-size: 2.5rem;
	}
}