.l-menu-i {

	@media (min-width: $screen-xs) {
		position: fixed;
		width: 100%;
		z-index: 9;
		top: $height-header-sm;
	}

	@media (min-width: $screen-custom-sm) {
		top: $height-header;
	}

	@media (min-width: $screen-lg) {
		top: $height-header-lg;
	}
}