.menu-i {
	background-color: $color-darkestgray;
	list-style-type: none;
	padding: 0;
	margin: 0;
	z-index: 5;

	@media (min-width: $screen-xs) {
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin: 0 -15px;
	}

	@media (min-width: $screen-sm) {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		margin: 0;
		padding: 0 20px;
	}

	&__item {

		@media (min-width: $screen-xs) {
			display: inline-block;
		}

		&_line {
			display: none;

			@media (min-width: $screen-sm) {
				display: inline-block;
				background-image: url('../img/line-lang.png');
				width: 10px;
				height: 25px;
			}

			@media (min-width: $screen-lg) {
				background-image: url('../img/line-lang-lg.png');
				width: 15px;
				height: 41px;
			}
		}
	}

	&__link {
		color: $color-white;
		display: block;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 1.4rem;
		padding: .5em;
		letter-spacing: 2.2px;

		@media (min-width: $screen-sm) {
			padding: .5em 0;
			display: inline-block;
		}

		&_active {
			color: $color-red;
		}
	}
}