.news {
	display: block;
	text-decoration: none;
	background-color: $color-lightergray;
	padding: 15px 50px 15px 30px;
	position: relative;
	overflow: hidden;
	text-align: right;

	&::before {
		@extend %line;
		content: '';
		position: absolute;
		top: 0;
	}

	&__date {
		color: $color-red;
		font-size: 1.4rem;
		text-transform: uppercase;
		text-align: left;
	}

	&__title {
		font-family: $font-second;
		font-weight: 300;
		font-size: 1.8rem;
		line-height: 1.2em;
		overflow: hidden;
		text-align: left;
		margin-bottom: 1.5em;
		position: relative;

		@media (min-width: $screen-custom-sm) {
			height: 3.6em;
		}

		&::after {

			@media (min-width: $screen-custom-sm) {
				content: '';
				display: inline-block;
				width: 100px;
				height: 1.2em;
				background: linear-gradient(to right, transparent, $color-lightergray);
				position: absolute;
				right: 0;
				bottom: 0;
			}
		}
	}
}

a.news {

	&:hover,
	&:focus {

		.arrow-link__arrow {
			left: 5px;
		}
	}
}