.news {
	display: block;
	text-decoration: none;
	background-color: $color-lightergray;
	padding: 15px 50px 15px 30px;
	position: relative;
	overflow: hidden;

	@media (min-width: $screen-xs) {
		display: inline-block;
		width: 23%;
	}

	&::before {
		@extend %line;
		content: '';
		position: absolute;
		top: 0;
	}

	&::after {
		content: '';
		background-image: url('../img/arrow-gray.png');
		width: 9px;
		height: 31px;
		position: absolute;
		right: 25px;
		bottom: 25px;

		@media (min-width: $screen-lg) {
			background-image: url('../img/arrow-gray-lg.png');
			width: 13px;
			height: 48px;
		}
	}

	&:hover {

		&::after {
			background: url('../img/arrows.png') 9px 0;

			@media (min-width: $screen-lg) {
				background: url('../img/arrows.png') -13px 0;
			}
		}
	}

	&__date {
		color: $color-red;
		font-size: 1.4rem;
		text-transform: uppercase;
	}

	&__title {
		font-family: $font-second;
		font-weight: 300;
		font-size: 1.8rem;
		line-height: 1.2em;
	}
}