.news-window {
	display: flex;
	flex-direction: column;

	&__img {
		padding: 0;
		height: 100%;

		@media (min-width: $screen-xs) {
			padding: 0;
		}

		@media (min-width: $screen-custom-sm) {
			padding: 0;
		}

		@media (min-width: $screen-sm) {
			padding: 0;
		}

		@media (min-width: $screen-md) {
			padding: 0;
		}
	}
}