.num-sm {
	font-family: $font-second;
	color: $color-white;
	font-size: 2.2rem;
	line-height: 1;
	display: inline-block;

	&::after {
		content: '';
		@extend %line;
		width: 100%;
	}

	&_border {
		border: 1px solid $color-red;
		min-width: 1.6em;
		padding: .25em 0 .2em;
		text-align: center;

		&::after {
			display: none;
		}
	}
}