.num {
	display: none;
	position: absolute;
	font-family: $font-second;
	font-size: 3.5rem;
	font-weight: 700;
	padding: 0 1rem 1rem 2rem;
	top: 0;
	z-index: 2;
	color: $color-white;
	line-height: .8em;

	@media (min-width: $screen-sm) {
		display: block;
	}

	@media (min-width: $screen-lg) {
		top: 0;
	}

	&_dark {
		color: $color-black;
	}

	&_red {
		color: $color-red;
	}

	&_gray {
		color: $color-gray;
	}

	&_lightgray {
		color: $color-lightgray;
	}
}