.result {

	&__title {
		font-family: $font-second;
		text-transform: uppercase;
		position: relative;
		font-weight: 700;
		font-size: 2.7rem;
		line-height: 1.4;
		margin-bottom: 15px;
		display: inline-block;
		color: $color-darkergray;

		&:after {
			content: '';
			@extend %line;
		}
	}

	&__desc {
		font-family: $font-second;
		font-size: 1.7rem;
		line-height: 1.2;
		display: block;
		color: $color-darkergray;
	}
}