.section {
	min-height: 100%;
	height: 100%;
	padding-top: $height-header;
	position: relative;

	@media (min-width: $screen-lg) {
		padding-top: $height-header-lg;
	}

	&__slide {
		height: 100%;
		position: relative;
		overflow: hidden;
		background-repeat: no-repeat;
		background-size: cover;
		margin-top: -($height-header);
		padding-bottom: $height-header;
		box-sizing: content-box;

		@media (min-width: $screen-lg) {
			margin-top: -($height-header-lg);
			padding-bottom: $height-header-lg;
		}

		&::before {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}

		&_fog {

			&::before {
				background-color: rgba(0, 0, 0, .5);
			}
		}

		&_dark {

			&::before {
				background-color: $color-black;
			}
		}

		&_bright {

			&::before {
				background-color: $color-lightgray;
			}
		}

		&_img-1 {
			background-image: url('../img/img-1.jpg');
			background-position: 50% 80%;
		}

		&_img-2 {
			background-image: url('../img/img-2.jpg');
			background-position: 50% 0;
		}

		&_img-3 {
			background-image: url('../img/img-3.jpg');
			background-position: 50% 40%;
		}

		&_img-4 {
			background-image: url('../img/img-4.jpg');
			background-position: 50% 50%;
		}

		&_img-5 {
			background-image: url('../img/img-5.jpg');
			background-position: 50% 50%;
		}

		&_img-6 {
			background-image: url('../img/img-6.jpg');
			background-position: 50% 50%;
		}

		&_img-7 {
			background-image: url('../img/img-7.jpg');
			background-position: 50% 50%;
		}

		&_img-8 {
			background-image: url('../img/img-8.jpg');
			background-position: 50% 50%;
		}

		&_img-9 {
			background-image: url('../img/img-9.jpg');
			background-position: 50% 50%;
		}

		&_img-10 {
			background-image: url('../img/img-10.jpg');
			background-position: 50% 0;
		}

		&_img-11 {
			background-image: url('../img/img-11.jpg');
			background-position: 50% 30%;
		}

		&_img-12 {
			background: $color-lightgray;

			@media (min-width: $screen-sm) {
				background: $color-lightgray url('../img/img-12.png') no-repeat 95% 100%;
				background-size: 20%;
			}
		}
	}

	&__wrap {
		height: 100%;
		position: relative;
		margin-top: $height-header;

		@media (min-width: $screen-lg) {
			margin-top: $height-header-lg;
		}
	}

	&__center {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 95%;
		text-transform: uppercase;
		color: $color-white;
	}

	&__bottom {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
	}

	&__title {
		font-size: 3.5rem;
		font-family: $font-third;
		position: relative;
		display: inline-block;

		@media (min-width: $screen-xs) {
			font-size: 5rem;
		}

		@media (min-width: $screen-sm) {
			font-size: 7.2rem;
		}

		@media (min-width: $screen-lg) {
			font-size: 6rem;
		}

		&_line-bot {

			&::after {
				@extend %line;
				content: '';
				margin-top: 15px;
			}
		}

		&_line-right {

			&::before {

				@media (min-width: $screen-sm) {
					content: '';
					background-image: url('../img/line-slide-title.png');
					width: 53px;
					height: 157px;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					right: -90px;
					max-width: 50%;
				}

				@media (min-width: $screen-lg) {
					background-image: url('../img/line-slide-title-lg.png');
					width: 84px;
					height: 251px;
				}
			}
		}

		&_line-left {

			&::after {
				@extend %line-left;
			}
		}

		&_line-left_red {

			&::after {
				@extend %line-left_red;
			}
		}
	}

	&__subtitle {
		margin-top: 90px;

		@media (min-width: $screen-xs) {
			text-align: right;
		}
	}

	&__subtitle-cont {
		font-family: $font-second;
		font-weight: 700;
		font-size: 2.7rem;
		margin: 0;
		position: relative;

		@media (min-width: $screen-xs) {
			display: inline-block;
			margin-right: 70px;
			top: -8px;
		}

		&::after {

			@media (min-width: $screen-sm) {
				content: '';
				background-image: url('../img/line-slide-subtitle.png');
				position: absolute;
				width: 100px;
				height: 298px;
				bottom: -20px;
				right: -154px;
			}

			@media (min-width: $screen-lg) {
				background-image: url('../img/line-slide-subtitle-lg.png');
				width: 158px;
				height: 477px;
				right: -214px;
			}
		}

		&_large {

			&::after {

				@media (min-width: $screen-sm) {
					background-image: url('../img/line-slide-subtitle-large.png');
					width: 124px;
					height: 371px;
					bottom: -20px;
					right: -154px;
				}

				@media (min-width: $screen-lg) {
					background-image: url('../img/line-slide-subtitle-large-lg.png');
					height: 593px;
					width: 197px;
					right: -214px;
				}
			}
		}

		&_red {

			&::after {

				@media (min-width: $screen-sm) {
					background-image: url('../img/line-slide-subtitle-red.png');
				}

				@media (min-width: $screen-lg) {
					background-image: url('../img/line-slide-subtitle-red-lg.png');
				}
			}
		}
	}

	&__descr {
		display: inline-block;
		font-size: 1.8rem;
		position: relative;

		&::before {
			content: '';
			display: block;
		}

		&::after {
			@extend %line-right-bright;
		}
	}

	&__line {
		@extend %line;
		margin: 5px auto 0;
	}

	&__count-wrap {
		margin-top: 40px;
	}

	&__count {
		margin-bottom: 40px;
	}
}