.section {
	position: relative;

	&__slide {
		position: relative;
		overflow: hidden;

		&_dark {
			background-color: $color-black;
		}

		&_bright {
			background-color: $color-lightgray;
		}

		&_visible {
			overflow-y: visible;
		}

		&_img-12 {
			background: $color-lightgray;

			@media (min-width: $screen-sm) {
				background: $color-lightgray url('../img/img-12.png') no-repeat 95% 100%;
				background-size: 20%;
			}
		}
	}

	&__wrap {
		padding-top: 20px;
		padding-bottom: 90px;

		@media (min-width: $screen-sm) {
			padding-top: 50px;
			padding-bottom: 120px;
		}

		&_abs {
			padding-top: 0;
			padding-bottom: 0;
			position: absolute;
			right: 0;
			left: 0;
			top: 0;
			bottom: 60px;

			@media (min-width: $screen-xs) {
				top: 20%;
			}

			@media (min-width: $screen-sm) {
				padding-top: 0;
				padding-bottom: 0;
			}

			@media (min-width: $screen-lg) {
				bottom: 90px;
			}
		}

		&_top {

			@media (min-width: $screen-xs) {
				top: 3%;
			}

			@media (min-width: $screen-sm) {
				top: 10%;
			}
		}

		&_full {
			top: 0;
			bottom: 0;

			@media (min-width: $screen-xs) {
				top: 0;
			}

			@media (min-width: $screen-lg) {
				bottom: 0;
			}
		}
	}

	&__hidden {
		overflow: hidden;
	}

	&__center {
		text-transform: uppercase;
		color: $color-white;
	}

	&__left_side {
		width: 50%;
	    display: block;
	    min-height: 100%;
	    position: absolute;
	    background: url(../img/img-6.jpg);
	}

	&__right_side {
		width: 50%;
		left:50%;
	    display: block;
	    min-height: 100%;
	    position: absolute;
	    background: url(../img/img-7.jpg);
	    background-size: cover;
	}

	&__btn_left {
		text-align: center;
		position: absolute;
		bottom: 0;
		left: 65%;
    	top: 63%;
		transform: translateX(-50%);
		z-index: 10;
	}


	&__btn_right {
		text-align: center;
		position: absolute;
		bottom: 0;
		right: 20%;
    	top: 63%;
		transform: translateX(-50%);
		z-index: 10;
	}

	&__options {
		font-size:20px;
	}

	&__bottom {
		text-align: center;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
	}

	&__phone {
		background-repeat: no-repeat;
		background-size: cover;
		padding-bottom: 120%;

		@media (min-width: $screen-xs) {
			padding-bottom: 85%;
		}

		@media (min-width: $screen-sm) {
			padding-bottom: 55%;
		}

		@media (min-width: $screen-md) {
			padding-bottom: 45%;
		}

		&::before {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}

		&_big {
			padding-bottom: 185%;

			@media (min-width: $screen-xs) {
				padding-bottom: 100%;
			}

			@media (min-width: $screen-custom-sm) {
				padding-bottom: 50%;
			}

			@media (min-width: $screen-sm) {
				padding-bottom: 65%;
			}

			@media (min-width: $screen-md) {
				padding-bottom: 45%;
			}

			@media (min-width: $screen-lg) {
				padding-bottom: 50%;
			}
		}

		&_resp {

			@media (min-width: $screen-xs) and (max-width: $screen-sm) {
				padding-bottom: 100%;
			}
		}

		&_fog {

			&::before {
				background-color: $color-fog;
			}
		}

		&_img-1 {
			background-image: url('../img/img-1.jpg');
			background-position: 50% 80%;
		}

		&_img-2 {
			background-image: url('../img/img-2.jpg');
			background-position: 50% 0;
		}

		&_img-3 {
			background-image: url('../img/img-3.jpg');
			background-position: 50% 40%;
		}

		&_img-4 {
			background-image: url('../img/img-4.jpg');
			background-position: 50% 50%;
		}

		&_img-5 {
			background-image: url('../img/img-5.jpg');
			background-position: 50% 50%;
		}

		&_img-6 {
			background-image: url('../img/img-6.jpg');
			background-position: 50% 50%;
		}

		&_img-7 {
			background-image: url('../img/img-7.jpg');
			background-position: 50% 50%;
		}

		&_img-8 {
			background-image: url('../img/img-8.jpg');
			background-position: 50% 50%;
		}

		&_img-9 {
			background-image: url('../img/img-9.jpg');
			background-position: 50% 50%;
		}

		&_img-10 {
			background-image: url('../img/img-10.jpg');
			background-position: 50% 0;
		}

		&_img-11 {
			background-image: url('../img/img-11.jpg');
			background-position: 50% 30%;
		}

		&_img-13 {
			background-image: url('../img/img-13.jpg');
			background-position: 50% 0;
		}

		&_img-city-1 {
			background-image: url('../img/img-city-1.jpg');
			background-position: 50% 0;
		}

		&_img-city-2 {
			background-image: url('../img/img-city-2.jpg');
			background-position: 50% 0;
		}

		&_img-city-3 {
			background-image: url('../img/img-city-3.jpg');
			background-position: 50% 0;
		}

		&_img-city-4 {
			background-image: url('../img/img-city-4.jpg');
			background-position: 50% 0;
		}

		&_img-city-5 {
			background-image: url('../img/img-city-5.jpg');
			background-position: 50% 0;
		}

		&_img-city-6 {
			background-image: url('../img/img-city-6.jpg');
			background-position: 50% 0;
		}

		&_img-city-7 {
			background-image: url('../img/img-city-7.jpg');
			background-position: 50% 0;
		}

		&_img-city-8 {
			background-image: url('../img/img-city-8.jpg');
			background-position: 50% 0;
		}

		&_img-city-9 {
			background-image: url('../img/img-city-9.jpg');
			background-position: 50% 0;
		}

		&_img-city-property-1 {
			background-image: url('../img/img-city-property-1.jpg');
			background-position: 50% 0;
		}

		&_img-city-property-2 {
			background-image: url('../img/img-city-property-2.jpg');
			background-position: 50% 0;
		}
	}

	&__title-top {
		margin: 0;
		font-size: 2rem;
		font-family: $font-second;
	}

	&__title {
		font-size: 3.5rem;
		font-family: $font-third;
		position: relative;
		display: inline-block;

		@media (min-width: $screen-xs) {
			font-size: 3rem;
		}

		@media (min-width: $screen-sm) {
			font-size: 7.2rem;
			margin-top: 0;
		}

		@media (min-width: $screen-lg) {
			font-size: 6rem;
		}

		&_line-bot {

			&::after {
				@extend %line;
				content: '';
				margin-top: 15px;
			}
		}

		&_line-right {

			&::before {

				@media (min-width: $screen-sm) {
					content: '';
					background-image: url('../img/line-slide-title.png');
					width: 53px;
					height: 157px;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					right: -90px;
					max-width: 50%;
				}

				@media (min-width: $screen-lg) {
					background-image: url('../img/line-slide-title-lg.png');
					width: 84px;
					height: 251px;
				}
			}
		}

		&_line-right-lg {

			&::before {

				@media (min-width: $screen-sm) {
					content: '';
					background-image: url('../img/line-slide-title-large.png');
					width: 89px;
					height: 266px;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					right: -90px;
					max-width: 50%;
				}

				@media (min-width: $screen-lg) {
					background-image: url('../img/line-slide-title-large-lg.png');
					width: 132px;
					height: 396px;
					right: -130px;
				}
			}
		}

		&_line-left {

			&::after {
				@extend %line-left;
			}
		}

		&_line-left_red {

			&::after {
				@extend %line-left_red;
			}
		}
	}

	&__subtitle {
		text-align: right;
		margin: 40px 0 50px;

		@media (min-width: $screen-sm) {
			margin: 60px 0 0;
		}
	}

	&__subtitle-cont {
		font-family: $font-second;
		font-weight: 700;
		font-size: 2.7rem;
		margin: 0;
		position: relative;

		@media (min-width: $screen-xs) {
			display: inline-block;
			margin-right: 50px;
			top: -8px;
		}

		@media (min-width: $screen-sm) {
			margin-right: 70px;
		}

		&::after {

			@media (min-width: $screen-sm) {
				content: '';
				background-image: url('../img/line-slide-subtitle.png');
				position: absolute;
				width: 100px;
				height: 298px;
				bottom: -20px;
				right: -124px;
			}

			@media (min-width: $screen-lg) {
				background-image: url('../img/line-slide-subtitle-lg.png');
				width: 158px;
				height: 477px;
				right: -174px;
			}
		}

		&_large {

			&::after {

				@media (min-width: $screen-sm) {
					background-image: url('../img/line-slide-subtitle-large.png');
					width: 124px;
					height: 371px;
					bottom: -20px;
					right: -154px;
				}

				@media (min-width: $screen-lg) {
					background-image: url('../img/line-slide-subtitle-large-lg.png');
					height: 593px;
					width: 197px;
					right: -214px;
				}
			}
		}

		&_red {

			&::after {

				@media (min-width: $screen-sm) {
					background-image: url('../img/line-slide-subtitle-red.png');
				}

				@media (min-width: $screen-lg) {
					background-image: url('../img/line-slide-subtitle-red-lg.png');
				}
			}
		}
	}

	&__descr {
		display: inline-block;
		font-size: 1.8rem;
		position: relative;

		&::before {
			content: '';
			display: block;
		}

		&::after {
			@extend %line-right-bright;
		}
	}

	&__line {
		@extend %line;
		margin: 5px auto 0;
	}

	&__count-wrap {
		margin-top: 40px;
		position: relative;

		&::before {
			@extend %line-left_red;

			@media (min-width: $screen-sm) {
				top: -10px;
			}

			@media (min-width: $screen-lg) {
				top: -10px;
			}
		}

		&::after {

			@media (min-width: $screen-sm) {
				content: '';
				position: absolute;
				background-image: url('../img/line-slide-count.png');
				width: 124px;
				height: 370px;
				top: -10px;
				right: -60px;
			}

			@media (min-width: $screen-lg) {
				background-image: url('../img/line-slide-count-lg.png');
				width: 197px;
				height: 593px;
				right: -150px;
			}
		}
	}

	&__count-col {

		@media (max-width: $screen-xs) {
			width: 100%;
			text-align: center;
		}
	}

	&__count {
		margin-bottom: 40px;
	}

	&__count-arrow {
		margin-bottom: 15px;

		@media (min-width: $screen-xs) {
			margin: 0;
		}

		@media (min-width: $screen-sm) {
			position: absolute;
			right: -80px;
			bottom: 30px;
			z-index: 1;
		}

		@media (min-width: $screen-lg) {
			right: -180px;
		}
	}

	&__news-wrap {

		@media (min-width: $screen-xs) {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
	}

	&__news {
		margin: 15px -15px;

		@media (min-width: $screen-xs) {
			display: inline-block;
			width: 47%;
			margin: 30px 0 0;
		}

		@media (min-width: $screen-sm) {
			width: 23%;
		}
	}

	&__card-wrap {
		margin-top: 30px;

		@media (max-width: $screen-xs) {
			width: 100%;
		}
	}

	&__simple-card-wrap {
		margin-bottom: 30px;

		@media (max-width: $screen-xs) {
			width: 100%;
		}
	}

	&__bot-panel {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 180px;

		@media (min-width: $screen-xs) {
			height: 230px;
		}

		@media (min-width: $screen-sm) {
			height: 180px;
		}

		@media (min-width: $screen-lg) {
			height: 250px;
		}
	}

	&__img-sm-1 {
		margin-top: 50px;
	}

	&__tagline {
		font-family: $font-third;
		font-size: 3rem;
		line-height: 1em;
		text-transform: uppercase;
		position: absolute;
		text-align: center;
		color: $color-white;
		top: 10%;
		right: 0;
		width: 100%;

		@media (min-width: $screen-xs) {
			right: 10%;
			width: initial;
		}
	}

	&__logo {
		display: none;

		@media (min-width: $screen-xs) {
			display: block;
			position: absolute;
			top: -80px;
		}

		@media (min-width: $screen-lg) {
			top: -120px;
		}
	}

	&__h3 {
		margin: .5em 0 .8em;

		@media (min-width: $screen-sm) {
			margin: 1.6em 0 .8em;
		}

		@media (min-width: $screen-md) {
			margin: 1em 0 .8em;
		}
	}

	&__space-bot {
		margin-bottom: 2em;
	}

	&__xs-space-bot {
		margin-bottom: 2em;

		@media (min-width: $screen-sm) {
			margin-bottom: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__head {
		margin: .5em 0;
	}

	&__note {
		margin-top: 1em;
	}
}