.text {
	font-family: $font-standart;
	font-size: 1.2rem;
	color: $color-darkgray;
	line-height: 1.5;
	text-align: justify;

	p {
		margin-bottom: 1em;
		text-align: justify;
	}

	a {
		color: $color-red;
		border-bottom: 1px solid transparent;

		&:hover,
		&:focus {
			border-bottom-color: inherit;
			color: inherit;
		}
	}

	ul {
		padding: 0;
		margin-bottom: 1em;
		text-align: left;

		li {
			list-style-type: none;
			position: relative;
			padding-left: 15px;
			margin-bottom: .5em;

			&::before {
				content: '';
				font-size: 1em;
				line-height: 1.5;
				width: 5px;
				height: 9px;
				background: url('../img/list-item.png') no-repeat;
				position: absolute;
				color: $color-red;
				left: 0;
				top: .5em;
			}
		}
	}
}