.why-kf {
	text-align: center;
	padding: 7px;

	&__img {
		width: 130px;
		height: 130px;
		margin: 0 auto 19px;
		border: 3px solid $color-lighter-fog;
		border-radius: 50%;
		background: no-repeat 50% 50%;
		background-size: cover;
		transition: $duration ease;

		&:hover {
			transform: scale(1.1);
		}

		&_1 {
			background-image: url('../img/why-kf-1.png');
		}

		&_2 {
			background-image: url('../img/why-kf-2.png');
		}

		&_3 {
			background-image: url('../img/why-kf-3.png');
		}

		&_4 {
			background-image: url('../img/why-kf-4.png');
		}

		&_5 {
			background-image: url('../img/why-kf-5.png');
		}
	}

	&__title {
		color: $color-white;
		font-family: $font-second;
		margin: 0;
		font-weight: 300;
	}
}