<!-- ASIDE -->
<div class="aside aside_hidden js-aside">
	<ul class="aside__list">
		<li class="aside__item"><a class="aside__link" href="about.html">О компании</a></li>
		<li class="aside__item"><a class="aside__link" href="analytics.html">Аналитика</a></li>
		<li class="aside__item"><a class="aside__link" href="news.html">Новости</a></li>
		<li class="aside__item"><a class="aside__link" href="service.html">Услуги</a></li>
		<li class="aside__item"><a class="aside__link" href="partners.html">Партнёры</a></li>
		<li class="aside__item"><a class="aside__link" href="like.html">Избранное</a></li>
		<li class="aside__item"><a class="aside__link" href="contacts.html">Контакты</a></li>
		<li class="aside__item"><a class="aside__link aside__link_strong" href="#" data-toggle="modal" data-target="#mod-5">Подписаться на рассылку</a></li>
	</ul>
</div>

<div class="toggle toggle_fixed js-aside-toggle">
	<div class="toggle__lines">
		<span class="toggle__line"></span>
		<span class="toggle__line"></span>
		<span class="toggle__line"></span>
	</div>
	<p class="toggle__title toggle__title_hidden">Меню</p>
</div>