<!-- HEADER -->
<header class="header">
	<div class="container">

		<nav class="header__menu menu">
			<ul class="menu__list">
				<li class="menu__item">
					<a class="logo" href="/">
						<img class="logo__img" src="img/logo.png" alt="Логотип">
					</a>
				</li>
				<li class="menu__item"><a class="menu__link" href="about.html">О компании</a></li>
				<li class="menu__item"><a class="menu__link" href="analytics.html">Аналитика</a></li>
				<li class="menu__item"><a class="menu__link" href="news.html">Новости</a></li>
				<li class="menu__item"><a class="menu__link" href="service.html">Услуги</a></li>
				<li class="menu__item"><a class="menu__link" href="partners.html">Партнёры</a></li>
				<li class="menu__item"><a class="menu__link" href="like.html">Избранное</a></li>
				<li class="menu__item"><a class="menu__link" href="contacts.html">Контакты</a></li>
				<li class="menu__item">
					<span class="lang">
						<a class="lang__item lang__item_active menu__link" href="#">ru</a>
						<span class="lang__line"></span>
						<a class="lang__item menu__link" href="#">en</a>
					</span>
				</li>
				<li class="menu__item">
					<a class="menu__link" href="#">
						<span class="menu__search"></span>
					</a>
				</li>
			</ul>
		</nav>

		<div class="header__cont">
			<div class="header__city">Санкт-Петербург</div>
			<div class="header__cont-i">
				<div class="header__address">ул. Маяковского, 3Б</div>
				<a class="header__phone" href="tel:+78123632222">+7 812 363 2222</a>
			</div>
		</div>

	</div>
</header>