<!-- HEADER -->
<header class="header">
	<div class="container">

		<nav class="header__menu menu">
			<ul class="menu__list">
				<li class="menu__item">
					<a class="logo" href="index.html">
						<img class="logo__img" src="img/logo.png" alt="Логотип">
					</a>
				</li>
				<li class="menu__item"><a class="menu__link" href="#">О компании</a></li>
				<li class="menu__item"><a class="menu__link" href="#">Аналитика</a></li>
				<li class="menu__item"><a class="menu__link" href="#">Новости</a></li>
				<li class="menu__item"><a class="menu__link" href="#">Услуги</a></li>
				<li class="menu__item"><a class="menu__link" href="#">Партнёры</a></li>
				<li class="menu__item"><a class="menu__link" href="#">Блог</a></li>
				<li class="menu__item"><a class="menu__link" href="#">Контакты</a></li>
				<li class="menu__item">
					<span class="lang">
						<a class="lang__item lang__item_active menu__link" href="#">ru</a>
						<span class="lang__line"></span>
						<a class="lang__item menu__link" href="#">en</a>
					</span>
				</li>
				<li class="menu__item">
					<a class="menu__link" href="#">
						<span class="menu__search"></span>
					</a>
				</li>
			</ul>
		</nav>

		<div class="header__cont">
			<div class="header__city">Санкт-Петербург</div>
			<div class="header__cont-i">
				<div class="header__address">ул. Маяковского, 3Б</div>
				<a class="header__phone" href="tel:+78123632222">+7 812 363 2222</a>
			</div>
		</div>

	</div>

	<ul class="header__pag pag">
		<li class="pag__item"><a class="pag__link pag__link_active" href='#s1'></a></li>
		<li class="pag__item"><a class="pag__link" href='#s2'></a></li>
		<li class="pag__item"><a class="pag__link" href='#s3'></a></li>
		<li class="pag__item"><a class="pag__link" href='#s4'></a></li>
		<li class="pag__item"><a class="pag__link" href='#s5'></a></li>
		<li class="pag__item"><a class="pag__link" href='#s6'></a></li>
		<li class="pag__item"><a class="pag__link" href='#s7'></a></li>
		<li class="pag__item"><a class="pag__link" href='#s8'></a></li>
		<li class="pag__item"><a class="pag__link" href='#s9'></a></li>
	</ul>
</header>