<!-- MENU-I -->
<div class="l-menu-i">
	<ul class="menu-i container">
		<li class="menu-i__item"><a class="menu-i__link" href="city-property.html">Городская недвижимость</a></li>
		<li class="menu-i__item menu-i__item_line"></li>
		<li class="menu-i__item"><a class="menu-i__link" href="country-estate.html">Загородная недвижимость</a></li>
		<li class="menu-i__item menu-i__item_line"></li>
		<li class="menu-i__item"><a class="menu-i__link" href="foreign-real-estate.html">Зарубежная недвижимость</a></li>
		<li class="menu-i__item menu-i__item_line"></li>
	</ul>
</div>