<!-- SMALL MODAL -->
<div class="modal fade mod-sm" id="mod-sm-1">
	<div class="modal-dialog mod-sm__wrap">
		<div class="mod-sm__head">
			<h4 class="mod-sm__title">Продвижение в интернете</h4>
			<div class="close-btn mod-sm__close" data-dismiss="modal"></div>
		</div>
		<div class="mod-sm__body">
			<div class="mod-sm__table">
				<div class="mod-sm__table-cell">Размещение информации об объекте на сайте www.knightfrank.ru</div>
				<div class="mod-sm__table-cell">Размещение web-баннера по объекту на главной странице www.knightfrank.ru, а также в разделе «Жилая недвижимость» *</div>
				<div class="mod-sm__table-cell">Размещение премиум-объявления объекта на сайте www.cian.ru</div>
				<div class="mod-sm__table-cell">Контекстная реклама в Yandex Direct и Google AdWords (до 4-х объявлений *)</div>
			</div>
			<p class="mod-sm__desc">В зависимости от параметров объекта недвижимости.</p>
		</div>
	</div>
</div>

<div class="modal fade mod-sm" id="mod-sm-2">
	<div class="modal-dialog mod-sm__wrap">
		<div class="mod-sm__head">
			<h4 class="mod-sm__title">Наружная реклама</h4>
			<div class="close-btn mod-sm__close" data-dismiss="modal"></div>
		</div>
		<div class="mod-sm__body">
			<div class="mod-sm__table">
				<div class="mod-sm__table-cell">Баннер на окна</div>
				<div class="mod-sm__table-cell">Наклейки на окна</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade mod-sm" id="mod-sm-3">
	<div class="modal-dialog mod-sm__wrap">
		<div class="mod-sm__head">
			<h4 class="mod-sm__title">Рассылки</h4>
			<div class="close-btn mod-sm__close" data-dismiss="modal"></div>
		</div>
		<div class="mod-sm__body">
			<div class="mod-sm__table">
				<div class="mod-sm__table-cell">Электронная рассылка по базе клиентов Knight Frank (Newsletter)</div>
				<div class="mod-sm__table-cell">Электронные партнерские рассылки</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade mod-sm" id="mod-sm-4">
	<div class="modal-dialog mod-sm__wrap">
		<div class="mod-sm__head">
			<h4 class="mod-sm__title">Презентационные материалы</h4>
			<div class="close-btn mod-sm__close" data-dismiss="modal"></div>
		</div>
		<div class="mod-sm__body">
			<div class="mod-sm__table">
				<div class="mod-sm__table-cell">Индивидуальная брошюра объекта в электронном виде *</div>
				<div class="mod-sm__table-cell">Размещение в каталоге элитной недвижимости</div>
				<div class="mod-sm__table-cell">Виртуальная 3-D тур по объекту</div>
				<div class="mod-sm__table-cell">Видеоролик. Стоимость 50 000 руб.</div>
			</div>
			<p class="mod-sm__desc">В зависимости от параметров объекта недвижимости.</p>
		</div>
	</div>
</div>

<div class="modal fade mod-sm" id="mod-sm-5">
	<div class="modal-dialog mod-sm__wrap">
		<div class="mod-sm__head">
			<h4 class="mod-sm__title">Профессиональная фотосессия</h4>
			<div class="close-btn mod-sm__close" data-dismiss="modal"></div>
		</div>
		<div class="mod-sm__body">
			<div class="mod-sm__table">
				<div class="mod-sm__table-cell">Фотосессия интерьера квартиры профессиональным фотографом</div>
			</div>
		</div>
	</div>
</div>