<!-- MODAL -->
<div class="modal fade mod" id="mod-1">
	<div class="mod__close" data-dismiss="modal"></div>
	<div class="modal-dialog mod__wrap">
		<div class="mod__head">
			<h3 class="h3 h3_center">Заказать просмотр объекта</h3>
		</div>
		<div class="mod__body">
			<form class="mod__form">
				<input type="text" class="input mod__input" placeholder="Имя" required>
				<input type="tel" class="input mod__input" placeholder="Телефон" required>
				<input type="email" class="input mod__input" placeholder="Почта" required>
				<input class="simple-btn simple-btn_active mod__btn" type="submit" value="Заказать">
			</form>
		</div>
	</div>
</div>

<div class="modal fade mod" id="mod-2">
	<div class="mod__close" data-dismiss="modal"></div>
	<div class="modal-dialog mod__wrap">
		<div class="mod__head">
			<h3 class="h3 h3_center">Предложить свою цену</h3>
		</div>
		<div class="mod__body">
			<form class="mod__form">
				<input type="text" class="input mod__input" placeholder="Готов предложить" required>
				<input type="text" class="input mod__input" placeholder="Имя" required>
				<input type="tel" class="input mod__input" placeholder="Телефон" required>
				<input type="email" class="input mod__input" placeholder="Почта" required>
				<input class="simple-btn simple-btn_active mod__btn" type="submit" value="Оценить">
			</form>
		</div>
	</div>
</div>

<div class="modal fade mod" id="mod-3">
	<div class="mod__close" data-dismiss="modal"></div>
	<div class="modal-dialog mod__wrap">
		<div class="mod__head">
			<h3 class="h3 h3_center">Связаться с представителем</h3>
		</div>
		<div class="mod__body">
			<form class="mod__form">
				<input type="text" class="input mod__input" placeholder="Имя" required>
				<input type="tel" class="input mod__input" placeholder="Телефон" required>
				<input class="simple-btn simple-btn_active mod__btn" type="submit" value="Позвоните мне">
			</form>
		</div>
	</div>
</div>

<div class="modal fade mod" id="mod-4">
	<div class="mod__close" data-dismiss="modal"></div>
	<div class="modal-dialog mod__wrap">
		<div class="mod__head">
			<h3 class="h3 h3_center">Оставить заявку</h3>
		</div>
		<div class="mod__body">
			<form class="mod__form">
				<input type="text" class="input mod__input" placeholder="Имя" required>
				<input type="tel" class="input mod__input" placeholder="Телефон" required>
				<textarea class="input mod__input" rows="3" placeholder="Комментарий"></textarea>
				<input class="simple-btn simple-btn_active mod__btn" type="submit" value="Отправить">
			</form>
		</div>
	</div>
</div>

<div class="modal fade mod" id="mod-5">
	<div class="mod__close" data-dismiss="modal"></div>
	<div class="modal-dialog mod__wrap">
		<div class="mod__head">
			<h3 class="h3 h3_center">Подписка на рассылку</h3>
		</div>
		<div class="mod__body">
			<form class="mod__form">
				<input type="text" class="input mod__input" placeholder="Имя" required>
				<input type="email" class="input mod__input" placeholder="Почта" required>
				<h4 class="mod__subtitle">Какие письма Вы предпочитаете получать?</h4>

				<div class="simple-check">
					<input class="simple-check__input" type="checkbox" name="news" id="modalRadio1" value="news">
					<label class="simple-check__label" for="modalRadio1">новости и аналитика</label>
				</div>

				<div class="simple-check">
					<input class="simple-check__input" type="checkbox" name="offers" id="modalRadio2" value="offers">
					<label class="simple-check__label" for="modalRadio2">новинки и предложения</label>
				</div>

				<input class="simple-btn simple-btn_active simple-btn_inactive mod__btn" type="submit" value="Подписаться на рассылку" data-check="check-1">

				<div class="simple-check">
					<input class="simple-check__input" type="checkbox" name="agree" id="modalRadio3" value="agree" data-check="check-1">
					<label class="simple-check__label" for="modalRadio3">Я согласен на обработку персональных данных</label>
				</div>
			</form>
		</div>
	</div>
</div>