<!-- MODAL -->
<div class="modal fade mod" id="mod-1">
	<div class="mod__close" data-dismiss="modal"></div>
	<div class="modal-dialog mod__wrap">
		<div class="mod__head">
			<h3 class="h3 h3_center">Заказать просмотр объекта</h3>
		</div>
		<div class="mod__body">
			<form class="mod__form">
				<input type="text" class="input input_fill mod__input" placeholder="Имя" required>
				<input type="tel" class="input mod__input" placeholder="Телефон" required>
				<input type="email" class="input mod__input" placeholder="Почта" required>
				<input class="simple-btn simple-btn_active mod__btn" type="submit" value="Заказать">
			</form>
		</div>
	</div>
</div>