.share {
	display: inline-block;
	background-color: $color-gray;
	text-align: center;
	color: white;
	line-height: 1.7em;
	font-size: 1.6rem;
	width: 28px;
	height: 28px;

	@media (min-width: $screen-lg) {
		width: 40px;
		height: 40px;
		font-size: 1.4rem;
	}
}