.select {

	&__current {
		outline: none;
		margin: 0;
		position: relative;
		font-family: $font-second;
		font-weight: 700;
		color: $color-darkgray;
		text-transform: uppercase;
		font-size: 1.4rem;
		line-height: 1.4;
		height: 38px;
		padding: .8em 3em .8em 10px;
		background-color: $color-white;
		border: 1px solid $color-darkgray;
		transition: $duration / 2 ease;
		display: block;


		@media (min-width: $screen-xs) {
			display: inline-block;
		}

		@media (min-width: $screen-lg) {
			height: 50px;
			padding: .6em 3em .6em 10px;
		}

		&::after {
			content: '\f0c9';
			font-family: $font-awesome;
			font-size: 2rem;
			line-height: 1.4;
			font-weight: 500;
			color: $color-darkgray;
			position: absolute;
			right: 5px;
			top: 50%;
			transform: translateX(-50%) translateY(-50%);
			transition: $duration / 2 ease;
		}

		&:hover,
		&:focus {
			background-color: $color-lightergray;
		}

		&_active {
			background-color: $color-red;
			border-color: $color-red;
			color: $color-white;

			&::after {
				color: $color-white;
			}

			&:hover,
			&:focus {
				background-color: $color-red;
			}

			.select__text {
				color: white;
			}
		}

		&.ui-button {
			width: auto;
		}
	}

	&__text {
		margin: 0;
		line-height: 1;
	}

	&__list {
		list-style-type: none;
		z-index: 1;
		background-color: $color-white;

		.ui-menu {
			list-style-type: none;
			padding: 0;
			margin: 0;
			border: 1px solid $color-darkgray;
			border-top: none;
		}

		.ui-menu-item-wrapper {
			cursor: pointer;
			padding: .6em 3em .6em 10px;
			white-space: nowrap;
			overflow: hidden;
			font-family: $font-second;
			font-weight: 700;
			text-transform: uppercase;
			font-size: 1.4rem;
			color: $color-darkgray;
			transition: $duration / 2 ease;
			line-height: 1;

			&.ui-state-active {
				background-color: $color-lightergray;
			}
		}
	}
}