@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/ubuntu/ubuntu-c.eot');
	src: url('../fonts/ubuntu/ubuntu-c.eot?#iefix') format('embedded-opentype'),
	url('../fonts/ubuntu/ubuntu-c.woff2') format('woff2'),
	url('../fonts/ubuntu/ubuntu-c.woff') format('woff'),
	url('../fonts/ubuntu/ubuntu-c.ttf') format('truetype'),
	url('../fonts/ubuntu/ubuntu-c.svg#ubuntu_condensedregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Museo';
	src: url('../fonts/museo/exljbris_-_museo_cyrl_100.eot');
	src: url('../fonts/museo/exljbris_-_museo_cyrl_100.eot?#iefix') format('embedded-opentype'),
	url('../fonts/museo/exljbris_-_museo_cyrl_100.woff2') format('woff2'),
	url('../fonts/museo/exljbris_-_museo_cyrl_100.woff') format('woff'),
	url('../fonts/museo/exljbris_-_museo_cyrl_100.ttf') format('truetype'),
	url('../fonts/museo/exljbris_-_museo_cyrl_100.svg#museo_cyrl100') format('svg');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Museo';
	src: url('../fonts/museo/exljbris_-_museo_cyrl_300.eot');
	src: url('../fonts/museo/exljbris_-_museo_cyrl_300.eot?#iefix') format('embedded-opentype'),
	url('../fonts/museo/exljbris_-_museo_cyrl_300.woff2') format('woff2'),
	url('../fonts/museo/exljbris_-_museo_cyrl_300.woff') format('woff'),
	url('../fonts/museo/exljbris_-_museo_cyrl_300.ttf') format('truetype'),
	url('../fonts/museo/exljbris_-_museo_cyrl_300.svg#museo_cyrl300') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Museo';
	src: url('../fonts/museo/exljbris_-_museo_cyrl_500.eot');
	src: url('../fonts/museo/exljbris_-_museo_cyrl_500.eot?#iefix') format('embedded-opentype'),
	url('../fonts/museo/exljbris_-_museo_cyrl_500.woff2') format('woff2'),
	url('../fonts/museo/exljbris_-_museo_cyrl_500.woff') format('woff'),
	url('../fonts/museo/exljbris_-_museo_cyrl_500.ttf') format('truetype'),
	url('../fonts/museo/exljbris_-_museo_cyrl_500.svg#museo_cyrl500') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Museo';
	src: url('../fonts/museo/exljbris_-_museo_cyrl_700.eot');
	src: url('../fonts/museo/exljbris_-_museo_cyrl_700.eot?#iefix') format('embedded-opentype'),
	url('../fonts/museo/exljbris_-_museo_cyrl_700.woff2') format('woff2'),
	url('../fonts/museo/exljbris_-_museo_cyrl_700.woff') format('woff'),
	url('../fonts/museo/exljbris_-_museo_cyrl_700.ttf') format('truetype'),
	url('../fonts/museo/exljbris_-_museo_cyrl_700.svg#museo_cyrl700') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Philosopher';
	src: url('../fonts/philosopher/philosopher-regular.eot');
	src: url('../fonts/philosopher/philosopher-regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/philosopher/philosopher-regular.woff2') format('woff2'),
	url('../fonts/philosopher/philosopher-regular.woff') format('woff'),
	url('../fonts/philosopher/philosopher-regular.ttf') format('truetype'),
	url('../fonts/philosopher/philosopher-regular.svg#philosopher-regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ALSRubl';
	src: url('../fonts/alsrubl/rouble.eot');
	src: url('../fonts/alsrubl/rouble.eot?#iefix') format('embedded-opentype'),
	url('../fonts/alsrubl/rouble.woff2') format('woff2'),
	url('../fonts/alsrubl/rouble.woff') format('woff'),
	url('../fonts/alsrubl/rouble.ttf') format('truetype'),
	url('../fonts/alsrubl/rouble.svg#als_rublregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FontAwesome';
	src: url('../fonts/font-awesome/fontawesome-webfont.eot?v=4.7.0');
	src: url('../fonts/font-awesome/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/font-awesome/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/font-awesome/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/font-awesome/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/font-awesome/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}