html {
	font-size: 10px;

	@media (min-width: $screen-lg) {
		font-size: 16px;
	}
}

body {
	font-family: $font-main;

	@media (min-width: $screen-xs) {
		padding-top: $height-header;
	}

	@media (min-width: $screen-lg) {
		padding-top: $height-header-lg;
	}
}

a {
	color: $color-black;
	text-decoration: none;
	transition: $duration / 2 ease;

	&:hover,
	&:focus {
		text-decoration: none;
		color: $color-red;
	}
}

input {
	-webkit-border-radius: 0;
	-webkit-appearance: none;
}