$color-white:       #fff;
$color-lightergray: #e7e7e7;
$color-lightgray:   #c0c0c1; //#abacad #969696
$color-gray:        #919191; //#808180 #6E6E6D
$color-darkgray:    #565655;
$color-darkergray:  #393938;
$color-darkestgray: #323232;
$color-black:       #282828;
$color-red:         #DE0041;
$color-webcenter:   #e96259;
$color-lighter-fog: rgba(255, 255, 255, .3);
$color-light-fog:   rgba(128, 129, 128, .2);
$color-fog:         rgba(0, 0, 0, .5);
$color-fogger:      rgba(40, 40, 40, .7);

$font-main:     'Ubuntu', 'Arial', sans-serif;
$font-second:   'Museo', 'Arial', sans-serif;
$font-third:    'Philosopher', 'Times New Roman', serif;
$font-standart: 'Tahoma', 'Arial', sans-serif;
$font-ruble:    'ALSRubl', 'Arial', sans-serif;
$font-awesome:  'FontAwesome', sans-serif;

$screen-lg: 1400px;
$screen-md: 1192px;
$screen-sm: 968px;
$screen-xs: 426px;

$screen-custom-sm: 768px;

$duration: .5s;

$height-header:    85px;
$height-header-lg: 120px;

%line {
	display: block;
	height: 3px;
	width: 20px;
	transition: width $duration ease-in-out;
	background-color: $color-red;

	@media (min-width: $screen-lg) {
		height: 4px;
	}
}

%line-left {

	@media (min-width: $screen-sm) {
		content: '';
		position: absolute;
		background-image: url('../img/line-slide-title-left.png');
		width: 32px;
		height: 93px;
		top: -25px;
		left: -40px;
	}

	@media (min-width: $screen-lg) {
		background-image: url('../img/line-slide-title-left-lg.png');
		width: 51px;
		height: 148px;
		top: -45px;
		left: -60px;
	}
}

%line-left_red {
	@extend %line-left;

	@media (min-width: $screen-sm) {
		background-image: url('../img/line-slide-title-left-red.png');
	}

	@media (min-width: $screen-lg) {
		background-image: url('../img/line-slide-title-left-red-lg.png');
	}
}

%line-right-bright {

	@media (min-width: $screen-sm) {
		content: '';
		position: absolute;
		background-image: url('../img/line-slide-right-bright.png');
		width: 21px;
		height: 59px;
		top: 50%;
		transform: translateY(-50%);
		right: -40px;
		max-width: 50%;
	}

	@media (min-width: $screen-lg) {
		background-image: url('../img/line-slide-right-bright-lg.png');
		width: 33px;
		height: 95px;
	}
}

%line-right-gray {
	@extend %line-right-bright;

	@media (min-width: $screen-sm) {
		background-image: url('../img/line-slide-right-gray.png');
		width: 19px;
		height: 51px;
	}

	@media (min-width: $screen-lg) {
		background-image: url('../img/line-slide-right-gray-lg.png');
		width: 28px;
		height: 80px;
	}
}

%line-right-dark {
	@extend %line-right-bright;

	@media (min-width: $screen-sm) {
		background-image: url('../img/line-slide-right-dark.png');
	}

	@media (min-width: $screen-lg) {
		background-image: url('../img/line-slide-right-dark-lg.png');
	}
}

%line-right-red {
	@extend %line-right-gray;

	@media (min-width: $screen-sm) {
		background-image: url('../img/line-slide-right-red.png');
	}

	@media (min-width: $screen-lg) {
		background-image: url('../img/line-slide-right-red-lg.png');
	}
}