$color-white:       #fff;
$color-lightgray:   #c0c0c1; //#abacad #969696
$color-gray:        #919191; //#808180 #6E6E6D
$color-darkgray:    #565655;
$color-darkestgray: #323232;
$color-black:       #282828;
$color-red:         #DE0041;

$font-main:   'Ubuntu', 'Arial', sans-serif;
$font-second: 'Museo', 'Arial', sans-serif;
$font-third:  'Philosopher', 'Times New Roman', serif;
$font-ruble:  'ALSRubl', 'Arial', sans-serif;

$screen-lg: 1400px;
$screen-md: 1192px;
$screen-sm: 968px;
$screen-xs: 625px;

$duration: .5s;

$height-header:    85px;
$height-header-lg: 120px;

%line {
	display: block;
	height: 3px;
	width: 20px;
	transition: width $duration ease-in-out;
	background-color: $color-red;

	@media (min-width: $screen-lg) {
		height: 4px;
	}
}