$color-white:       #fff;
$color-lightgray:   #c0c0c1; //#abacad #969696
$color-gray:        #919191; //#808180 #6E6E6D
$color-darkgray:    #565655;
$color-darkestgray: #323232;
$color-black:       #282828;
$color-red:         #DE0041;

$font-main:   'Ubuntu', 'Arial', sans-serif;
$font-second: 'Museo', 'Arial', sans-serif;
$font-third:  'Philosopher', 'Times New Roman', serif;
$font-ruble:  'ALSRubl', 'Arial', sans-serif;

$screen-lg: 1200px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-xs: 425px;

$duration: .5s;