.map {
	position: relative;
	padding-bottom: 400px;

	@media (min-width: $screen-custom-sm) {
		padding-bottom: 50%;
	}

	&__wrap {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
	}

	&__btn-wrap {
		position: absolute;
		left: 15px;
		top: 15px;
	}

	&__btn {
		margin-right: 10px;
		width: 9em;

		&:last-child {
			margin-right: 0;
		}
	}
}