.js-owl {
	position: relative;

	// Пагинация
	&__dots {
		position: absolute;
		bottom: 60px;
		left: 0;
		right: 0;
		pointer-events: none;

		@media (min-width: $screen-xs) {
			bottom: 16%;
		}

		@media (min-width: $screen-xs) {
			bottom: 12%;
		}

		.owl-dots {
			text-align: left;
			display: inline-block;
			pointer-events: auto;

			.owl-dot {

				span {
					@extend %line;
					background-color: $color-gray;
					border-radius: 0;
				}

				&.active span {
					background-color: $color-red;
				}
			}
		}
	}

	&_fix-line {

		&::after {
			content: '';
			position: absolute;
			width: 100%;
			height: 1px;
			background: $color-black;
			bottom: 0;
		}
	}
	// =========

	// Кнопки "Вперёд" "Назад"
	.owl-nav {
		display: none;

		@media (min-width: $screen-sm) {
			display: block;
			margin: 0;
		}

		.owl-prev,
		.owl-next {
			background: transparent;
			border-radius: 0;
			position: absolute;
			top: 0;
			bottom: 0;
			width: 9px;
			margin: 0;
			padding: 44px;
			transition: all $duration / 2;

			@media (min-width: $screen-lg) {
				padding: 4%;
			}

			&::after {
				content: '';
				background: url('../img/arrows.png') no-repeat;
				position: absolute;
				width: 9px;
				height: 31px;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				transition: $duration / 2 ease;

				@media (min-width: $screen-lg) {
					width: 13px;
					height: 48px;
				}
			}
			
			&:hover,
			&:focus {
				background-color: $color-fog;
			}

			&:active {

				&::after {
					transform: translate(-50%, -50%) scale(.8);
				}
			}
		}

		.owl-prev {
			left: 0;

			&::after {
				background-position: -26px 0;

				@media (min-width: $screen-lg) {
					background-position: 0 0;
				}
			}
		}

		.owl-next {
			right: 0;

			&::after {
				background-position: -36px 0;

				@media (min-width: $screen-lg) {
					background-position: -13px 0;
				}
			}
		}
	}
	// ======================

	&_half {

		@media (min-width: $screen-custom-sm) {
			width: 55%;
			margin: 0 auto;
		}

		.section {
			//=====

			&__slide {

				@media (min-width: $screen-custom-sm) {

				}
			}

			&__wrap {
				max-width: 100%;
			}

			&__phone {

				@media (min-width: $screen-custom-sm) {
					padding-bottom: 75%;
				}

				&_fog {

					&::before {
						background-color: rgba(0, 0, 0, 0.2);
					}
				}
			}

			&__title {

				@media (min-width: $screen-sm) {
					font-size: 5.5rem;
				}

				@media (min-width: $screen-lg) {
					font-size: 5rem;
				}
			}
		}

		.owl-stage-outer {
			overflow: visible;
		}

		.js-owl__dots {
			padding: 0 15px;
			bottom: 70px;

			@media (min-width: $screen-xs) {
				bottom: 16%;
			}
		}

		+ .owl-nav {
			display: none;

			@media (min-width: $screen-custom-sm) {
				display: block;
			}

			.owl-prev,
			.owl-next {
				top: 0;
				height: 100%;
				position: absolute;
				padding: 11.25%;
				background: transparent no-repeat 50% 50%;
				background-size: cover;
				z-index: 2;
				transition: all $duration / 2;
				cursor: pointer;


				@media (min-width: $screen-lg) {
					padding: 11.25%;
				}

				&::before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: rgba(0, 0, 0, .7);
					transition: all $duration / 2;

					@media (min-width: $screen-lg) {
						width: 100%;
						height: 100%;
					}
				}

				&::after {
					content: '';
					background: url('../img/arrows.png') no-repeat;
					position: absolute;
					width: 9px;
					height: 31px;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					transition: $duration / 2 ease;

					@media (min-width: $screen-lg) {
						width: 13px;
						height: 48px;
					}
				}

				&:hover,
				&:focus {
					background: no-repeat 50% 50%;
					background-size: cover;

					&::before {
						background-color: $color-fog;
					}
				}

				&:active {

					&::after {
						transform: translate(-50%, -50%) scale(.8);
					}
				}
			}

			.owl-prev {
				left: 0;

				&::after {
					background-position: -26px 0;

					@media (min-width: $screen-lg) {
						background-position: 0 0;
					}
				}
			}

			.owl-next {
				right: 0;

				&::after {
					background-position: -36px 0;

					@media (min-width: $screen-lg) {
						background-position: -13px 0;
					}
				}
			}
		}
	}
}