.js-owl {
	position: absolute;
	top: 0;
	bottom: 0;

	.owl-stage-outer,
	.owl-stage,
	.owl-item {
		height: 100%;
	}

	// Пагинация
	&__dots {
		position: absolute;
		bottom: 10%;
		left: 0;
		right: 0;

		@media (min-width: $screen-xs) {
			bottom: 12%;
		}

		.owl-dots {
			text-align: left;
			display: inline-block;

			.owl-dot {

				span {
					@extend %line;
					background-color: $color-gray;
					border-radius: 0;
				}

				&.active span {
					background-color: $color-red;
				}
			}
		}
	}
	// =========

	// Кнопки "Вперёд" "Назад"
	.owl-nav {
		display: none;

		@media (min-width: $screen-sm) {
			display: block;
		}

		.owl-prev,
		.owl-next {
			background: transparent;
			border-radius: 0;
			position: absolute;
			top: $height-header;
			bottom: 0;
			width: 9px;
			margin: 0;
			padding: 44px;
			transition: all $duration / 2;

			@media (min-width: $screen-lg) {
				top: $height-header-lg;
				padding: 4%;
			}

			&::after {
				content: '';
				background: url('../img/arrows.png') no-repeat;
				position: absolute;
				width: 9px;
				height: 31px;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);

				@media (min-width: $screen-lg) {
					width: 13px;
					height: 48px;
				}
			}
			
			&:hover,
			&:focus {
				background-color: $color-fog;
			}
		}

		.owl-prev {
			left: 0;

			&::after {
				background-position: -26px 0;

				@media (min-width: $screen-lg) {
					background-position: 0 0;
				}
			}
		}

		.owl-next {
			right: 0;

			&::after {
				background-position: -36px 0;

				@media (min-width: $screen-lg) {
					background-position: -13px 0;
				}
			}
		}
	}
	// ======================
}